.tabs {
	@media (min-width: toEm(700)) {
		display: grid;
		grid-template-columns: auto percent(800, 1216);
	}
	// .tabs__navigation
	&__navigation {
		align-self: flex-start;
		display: grid;
		@media (max-width: toEm(700)) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .tabs__title
	&__title {
		text-align: left;
		font-size: toRem(24);
		font-weight: 500;
		line-height: 116.666667%; /* 28/24 */
		color: #c2c7d6;
		padding-left: toRem(20);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		&._tab-active {
			font-size: toRem(24);
			font-weight: 700;
			line-height: 116.666667%; /* 28/24 */
			color: $blueColor;
			border-left: toRem(4) solid $blueColor;
			padding-left: toRem(16);
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
	}
	// .tabs__slider
	&__slider {
	}
	// .tabs__wrapper
	&__wrapper {
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	// .tabs__slide
	&__slide {
	}
	// .tabs__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		gap: toRem(32);
	}
	// .tabs__item
	&__item {
	}
	// .tabs__actions
	&__actions {
		position: relative;
		display: grid;
		gap: toRem(32);
	}
	// .tabs__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(15);
		@media (max-width: $mobileSmall) {
			flex-direction: column-reverse;
		}
	}
	// .tabs__button
	&__button {
		padding: toRem(21) 0;
		width: min(toRem(295), 100%);
		background-color: $primaryColor;
		color: $whiteColor;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(10);
		&.swiper-button-disabled {
			color: #a5a5a5;
			cursor: auto;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .tabs__pagination
	&__pagination {
		justify-self: center;
		display: flex;
		align-items: center;
		gap: toRem(16);
		.swiper-pagination-bullet {
			cursor: pointer;
			background-color: #f6f8f7;
			width: toRem(16);
			aspect-ratio: 1;
			border-radius: 50%;
			&.swiper-pagination-bullet-active {
				background-color: $blueColor;
			}
		}
		@media (min-width: toEm(1216)) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
