//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	background-color: $whiteColor;
	border-radius: toRem(4);
	width: 100%;
	display: block;
	padding: 0 toRem(8);
	height: toRem(41);
	border: toRem(1) solid #e0e3eb;
	caret-color: inherit;
	outline: none;
	transition: border-color 0.3s;
	&._form-focus {
	}
	&._form-error {
	}
	&:focus {
		border-color: $primaryColor;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		color: #a3aac2;
		transition: opacity 0.3s;
		font-size: toRem(18);
	}
	&:focus::placeholder {
		opacity: 0;
	}
	
}

textarea.input {
	resize: none;
	padding: toRem(10) toRem(8);
}
